html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
@media (min-width: 992px) {
  #left-block {
    background-color: #595958;
    position: fixed;
    float: left;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@media (max-width: 992px) {
  #image {
    width: 100%;
    box-shadow: 2px 2px 200px rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  #image {
    position: fixed;
    max-width: 50%;
    height: 70%;
    width: auto;
    box-shadow: 2px 2px 200px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    top: 15%;
    margin-left: 100px;
    object-fit: cover;
  }
}

#image-caption {
  position: fixed;
  z-index: 1;
  width: 39%;
  text-align: right;
  bottom: 70px;
  color: #e5e5e5;
}

#text-wrapper {
  top: 50%
}

@media (min-width: 992px) {
  #title {
    color: #595958;
    text-align: right;
    top: 80px;
    right: 70px;
  }
}

#subtitle {
  color: #595958;
  position: fixed;
  text-align: right;
  top: 25%;
  right: 70px;
  max-width: 40%;
  line-height: 60%;
}

#text-container {
  vertical-align: middle;
}



#get-to-know-me {
  color: #595958;
  float: right;
  right: 80px;
  bottom: 150px;
}

#github {
  width: 40px;
  height: 40px;
  float: right;
}

#linkedin {
  width: 40px;
  height: 40px;
  float: right;

}

#wordpress {
  width: 40px;
  height: 40px;
  float: right;
}

#medium {
  width: 40px;
  height: 40px;
  float: right;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
  font-size: 105px !important;
}

h2 {
  font-family: "Avenir Next" !important;
  font-weight: normal !important;
  font-size: 36px !important;
  line-height: 65% !important;
  margin: 0;
}

h3 {
  font-family: 'Avenir Next', sans-serif !important;
  font-weight:normal !important;
  font-size: 24px !important;
  line-height: 65% !important;
}

h4 {
  font-family: 'Avenir Next', sans-serif !important;
  font-weight: normal !important;
  font-size: 13px !important;
}
