#picture {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
  background-image: url('./media/picture.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
}

#picture_frame {
  width: 100%;
}

#intro {
  margin-bottom: 100px;
}




#header_text {
  bottom: 0;
}

#hello {
  text-align: left;
}

#job {
  text-align: left;
  margin-top: -30px;
  text-decoration: underline;
}

#footer {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#whoami {
  text-align: center;
  color: #212121;
}

#whatido {
  text-align: center;
  color: #212121;
}

#portfolio {
  text-align: center;
  color: #212121;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 4px;
  color: #ffffff;
}

h2 {
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
}

h3 {
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
}

h4 {
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  color: #212121;
}

.container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
